{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}

<div class="gornji-container">
  <p style="color:black; text-align: center;"><a href="{% url 'booking:filteri' %}" class="btn btn-danger" id="dugme">Filteri</a></p>
</div>

<div id="flex-container">
  <div id="empty-space">
    <div id="map"></div>
    <script>
      var map = L.map('map').setView([44.784846, 17.186230], 21);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      var markers = L.markerClusterGroup();

      var nekretnineElements = document.getElementsByClassName('nekretnina');
      var visibleNekretnineIds = [];

      {% for nekretnina in nekretnine %}
      {% if nekretnina.latitude and nekretnina.longitude %}
      var marker = L.marker([{{ nekretnina.latitude }}, {{ nekretnina.longitude }}]);
      marker.nekretninaId = '{{ nekretnina.id }}';
      markers.addLayer(marker);

      marker.on('click', function () {
        window.location.href = '{% url 'booking:nekretnina_detail' pk=nekretnina.pk %}';
      });

      // Collect visible nekretnine IDs
      if (visibleNekretnineIds.length < 4) {
        visibleNekretnineIds.push('{{ nekretnina.id }}');
        nekretninaElement.style.display = 'block';
      } else {
        nekretninaElement.style.display = 'none';
      }
      {% endif %}
      {% endfor %}

      map.addLayer(markers);

      map.on('zoomend moveend', function () {
        var currentBounds = map.getBounds();
        visibleNekretnineIds = markers
          .getLayers()
          .filter(function (marker) {
            return currentBounds.contains(marker.getLatLng());
          })
          .map(function (marker) {
            return marker.nekretninaId;
          });

        for (var i = 0; i < nekretnineElements.length; i++) {
          var nekretninaElement = nekretnineElements[i];
          var nekretninaId = nekretninaElement.dataset.nekretninaId;

          if (visibleNekretnineIds.includes(nekretninaId)) {
            nekretninaElement.style.display = 'block';
          } else {
            nekretninaElement.style.display = 'none';
          }
        }
      });

      setTimeout(function () {
        map.invalidateSize();
        map.on('zoomend', function () {
          if (map.getZoom() < 10) {
            map.setZoom(10);
          }
        });
      }, 100);

    </script>
  </div>

  <div id="container">
    <div class="image-grid">
      {% for nekretnina in nekretnine %}
      {% if nekretnina.latitude and nekretnina.longitude %}
      {% if forloop.counter <= 4 %} {# Limit the maximum number of instances presented to 4 #}
      <a href="{% url 'booking:nekretnina_detail' pk=nekretnina.pk %}" class="nekretnina" data-nekretnina-id="{{ nekretnina.id }}" data-latitude="{{ nekretnina.latitude }}" data-longitude="{{ nekretnina.longitude }}" style="text-decoration: none;">
        {% with nekretnina.slike.first as first_image %}
        {% if first_image %}
        {% image first_image width-400 %}
        {% endif %}
        {% endwith %}
        <h2 class="post-title" style="color:black; text-align: center;">{{ nekretnina.naziv }}</h2>
      </a>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  #dugme {
    width:150px;
    height:50px;
    border-radius:25px;
    margin-top:15px;
  }
  #gornji-container {
  }
  #flex-container {
    display: flex;
  }

  #empty-space {
    width: 50%;
    padding: 20px;
    height: 700px;
  }

  #map {
    height: 100%;
  }

  #container {
    padding: 5px;
    width: 50%;
  }

  .image-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
  }

  .nekretnina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 200px; /* Adjust the desired height for the images */
  }

  .nekretnina img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5px;
  }

  .image-box {
    background-color: green;
    padding: 2px;
    text-align: center;
  }

  .image-box img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
</style>

{% endblock %}
