{% extends "base.html" %}

{% load wagtailcore_tags i18n %}

{% block content %}

<h1>{% trans "agent data" %}</h1>
<p>{% trans "username" %}: {{ agent.username }}</p>
<p>{% trans "email" %}: {{ agent.email }}</p>
<p>{% trans "phone" %}: {{ agent.telefon }}</p>
<p>{{ agent.username }} {% trans "'s realestates:" %}</p>
{% for a in agent.nekretnine.all %}
    <li>{{ a.naziv }}</li>
{% endfor %}

<a href="{% url 'booking:agent_delete' pk=agent.pk %}">{% trans "Delete agent" %}</a>


{% endblock %}
