{% extends "base.html" %}

{% load wagtailcore_tags i18n %}

{% block content %}


<div class="container">
<h3>{% trans "List of agents:" %}</h3>
{% for agent in agenti %}

  <a href="{% url 'booking:agenti_detail' pk=agent.pk %}" style="text-decoration: none;">{{ agent.username }}</a><p></p>
{% endfor %}

</div>


{% endblock %}



#container {
  margin-left: 30px;
}

.image-grid {
    height: 50px;
    max-width: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.image-box {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.image-box img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.post-title {
    font-family: 'Times New Roman', sans-serif;
    color: #ffffff;
    margin-top: 10px;
}
