{% extends 'base.html' %}
{% load wagtailcore_tags i18n %}
{% block content %}
<div class="login-container" style="margin-top: 130px;">
  <h2>{% trans "Registration" %}</h2>
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">{% trans "Username" %}:</label>
      <input type="username" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="form-control">
    </div>

    <div class="form-group">
      <label for="{{ form.sifra.id_for_label }}">{% trans "Password" %}:</label>
      <input type="password" name="{{ form.sifra.name }}" id="{{ form.sifra.id_for_label }}" class="form-control">
    </div>

    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">{% trans "Email" %}:</label>
      <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="form-control">
    </div>

    <div class="form-group">
      <label for="{{ form.telefon.id_for_label }}">{% trans "Phone" %}:</label>
      <input type="text" name="{{ form.telefon.name }}" id="{{ form.telefon.id_for_label }}" class="form-control">
    </div>

    {{ form.inbox.as_hidden }}
    {{ form.is_agent.as_hidden }}
    <button type="submit" class="btn">{% trans "Register" %}</button>
  </form>
</div>


<style>
  .login-container {
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }

  .btn:hover {
    background-color: #45a049;
  }

  .error {
    color: red;
  }
</style>
{% endblock %}
