{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}

{% load i18n %}

    {% for lang_code, lang_name in languages %}
    <a href="{% url 'change_language' lang_code %}">{% trans lang_name %}</a>
    {% endfor %}

    <p>{% trans "Welcome to our website!" %}</p>
    <h1>agent data</h1>
    <p>username: {{ agent.username }}</p>
    <p>email: {{ agent.email }}</p>
    <p>phone: {{ agent.telefon }}</p>
    <p>{{ agent.username }} 's realestates:</p>
    {% for a in agent.nekretnine.all %}
        <li>{{ a.naziv }}</li>
    {% endfor %}


<a href="{% url 'booking:agent_delete' pk=agent.pk %}">Delete agent</a>


{% endblock %}
