{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="container">
  <p>{% trans "name" %}: {{ detail.naziv }}</p>
  <p>{% trans "agent" %}: {{ detail.agent }}</p>
  <p>{% trans "types and characteristics" %}:</p>
  <ul>
    {% for tip, names in grouped_karakteristikas.items %}
      <li>{{ tip }}: {{ names|join:", " }}</li>
    {% endfor %}
  </ul>
  <p>{% trans "area" %}: {{ detail.povrsina }}</p>
  <p>{% trans "price" %}: {{ detail.cena }}</p>
  <p>{% trans "description" %}: {{ detail.opis|richtext }}</p>
  <p>{% trans "status" %}: {{ detail.status }}</p>
  <p>{% trans "type of realestate" %}: {{ detail.vrsta }}</p>
  <p>{% trans "neigbourhood" %}: {{ detail.mjesto }}</p>
  {% if detail.vrsta == 'kuca' or detail.vrsta == 'vikendica' %}
      <p>{% trans "backyard" %}: {{ detail.get_dvoriste_display }}</p>
      <p>{% trans "pool" %}: {{ detail.get_bazen_display }}</p>
      <p>{% trans "garage" %}: {{ detail.get_garaza_display }}</p>
  {% endif %}

  {% if detail.vrsta == 'stan' or detail.vrsta == 'garsonjera' %}
      <p>{% trans "central heating" %}: {{ detail.get_centralno_grijanje_display }}</p>
      <p>{% trans "elevator" %}: {{ detail.get_lift_display }}</p>
  {% endif %}

  {% if detail.vrsta == 'poslovni_prostor' %}
      <p>{% trans "parking" %}: {{ detail.get_parking_display }}</p>
      <p>{% trans "aircondition" %}: {{ detail.get_klima_display }}</p>
  {% endif %}

  {% if request.user.is_superuser %}
  <a href="{% url 'booking:booking_delete' pk=detail.pk %}" class="btn btn-primary">{% trans "Delete" %}</a>
  <a href="{% url 'booking:booking_edit' pk=detail.pk %}" class="btn btn-primary">{% trans "Edit" %}</a>
  {% endif %}

  {% if request.user.username|lower == detail.agent|lower %}
      <a href="{% url 'booking:booking_edit' pk=detail.pk %}" class="btn btn-primary">{% trans "Edit" %}</a>
  {% endif %}

  <p>{% trans "pictures" %}:</p>
  <div class="image-grid">
    {% for item in detail.gallery_images.all %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
  </div>
    <div id="map" style="height:400px; width:700px; margin-bottom:30px;"></div>
<script>
  var map = L.map('map').setView([{{ detail.latitude }}, {{ detail.longitude }}], 15);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  var marker = L.marker([{{ detail.latitude }}, {{ detail.longitude }}]).addTo(map);
  marker.detailId = '{{ detail.id }}';

  var southWest = L.latLng(44.706389, 17.035946);
  var northEast = L.latLng(44.844916, 17.347521);
  var bounds = L.latLngBounds(southWest, northEast);
  map.setMaxBounds(bounds);
  map.on('drag', function () {
    map.panInsideBounds(bounds, { animate: false });
  });
</script>



    {% if user.is_authenticated and not request.user.is_superuser %}
    <form method="post" action="{% url 'booking:kontakt_forma' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_ime">Name:</label>
            <input type="text" id="id_ime" name="ime" value="{{ user.username }}" class="form-control" readonly>
        </div>

        <div class="form-group" style="display: none;">
            <label for="id_naziv_nekretnine">name of realestate:</label>
            <input type="text" id="id_naziv_nekretnine" name="naziv_nekretnine" value="{{ detail.naziv }}" class="form-control" readonly>
        </div>

        <div class="form-group" style="display: none;">
            <label for="id_ime_agenta">agent:</label>
            <input type="text" id="id_ime_agenta" name="ime_agenta" class="form-control" readonly>
            <input type="hidden" name="ime_agenta" value="{{ detail.agent }}">
        </div>
        <div class="form-group">
            <label for="id_upit">question:</label>
            <textarea id="id_upit" name="upit" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">send</button>
    </form>
    {% endif %}


  </div>
{% endblock %}
