{% extends 'base.html' %}

{% block content %}
<div class="login-container" style="margin-top: 130px;">
  <h2>Da li si siguran da zelis da obrises?</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Obrisi</button>
    <a href="{% url 'booking:filteri' %}" class="btn btn-warrning">Nazad</a>
  </form>
</div>

<style>
  .login-container {
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }

  .btn:hover {
    background-color: #45a049;
  }

  .error {
    color: red;
  }
</style>
{% endblock %}
