{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
<div class="login-container" style="margin-top: 130px;">
  <h1>Create Booking Page</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}

    <div class="form-group">
      <label for="{{ form.naziv.id_for_label }}">Naziv:</label>
      {{ form.naziv }}
    </div>

    <div class="form-group">
      <label for="{{ form.povrsina.id_for_label }}">Povrsina:</label>
      {{ form.povrsina }}
    </div>

    <div class="form-group">
      <label for="{{ form.cena.id_for_label }}">Cena:</label>
      {{ form.cena }}
    </div>

    <div class="form-group">
      <label for="{{ form.opis.id_for_label }}">Opis:</label>
      {{ form.opis }}
    </div>

    <div class="form-group">
      <label for="{{ form.status.id_for_label }}">Status:</label>
      {{ form.status }}
    </div>

    <div class="form-group">
      <label for="{{ form.vrsta.id_for_label }}">Vrsta:</label>
      {{ form.vrsta }}
    </div>

    <div class="form-group">
      <label for="{{ form.grad.id_for_label }}">Grad:</label>
      {{ form.grad }}
    </div>

    <div class="form-group">
      <label for="{{ form.mjesto.id_for_label }}">Mjesto:</label>
      {{ form.mjesto }}
    </div>

    <div class="form-group">
      <label for="{{ form.orjentacija.id_for_label }}">Orjentacija:</label>
      {{ form.orjentacija }}
    </div>



    <div class="form-group">
       <label for="{{ form.dvoriste.id_for_label }}">Dvoriste:</label>
       {{ form.dvoriste }}
     </div>

     <div class="form-group">
       <label for="{{ form.garaza.id_for_label }}">Garaza:</label>
       {{ form.garaza }}
     </div>

     <div class="form-group">
       <label for="{{ form.bazen.id_for_label }}">Bazen:</label>
       {{ form.bazen }}
     </div>

     <div class="form-group">
       <label for="{{ form.centralno_grijanje.id_for_label }}">Centralno Grijanje:</label>
       {{ form.centralno_grijanje }}
     </div>

     <div class="form-group">
       <label for="{{ form.lift.id_for_label }}">Lift:</label>
       {{ form.lift }}
     </div>

     <div class="form-group">
       <label for="{{ form.parking.id_for_label }}">Parking:</label>
       {{ form.parking }}
     </div>

     <div class="form-group">
       <label for="{{ form.klima.id_for_label }}">Klima:</label>
       {{ form.klima }}
     </div>

     <div class="form-group">
       <label for="{{ form.agent.id_for_label }}">Agent:</label>
       {{ form.agent }}
     </div>

    <div class="form-group">
      <label for="{{ form.slike.id_for_label }}">Select Images:</label>
      <div class="image-checkboxes">
        {% for image in form.slike.field.queryset.all %}
          <label>
            <input type="checkbox" name="{{ form.slike.html_name }}" value="{{ image.pk }}">
            <img src="{{ image.file.url }}" alt="{{ image.title }}" width="200">
          </label>
        {% endfor %}
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>

<style>
  .login-container {
    text-align: center;
    margin: auto;
    max-width: 870px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }

  .btn:hover {
    background-color: #45a049;
  }

  .error {
    color: red;
  }
</style>
{% endblock %}
