{% extends 'base.html' %}

{% block content %}
  <h1>Contact Form</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_ime">Ime:</label>
      <input type="text" id="id_ime" name="ime" value="{{ user.username }}" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="id_upit">Upit:</label>
      <textarea id="id_upit" name="upit" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="id_naziv_nekretnine">Naziv nekretnine:</label>
      <textarea id="id_naziv_nekretnine" name="naziv" value="{{ user.username }}" class="form-control"></textarea>
    </div>
        <button type="submit" class="btn btn-primary">Pošalji</button>
  </form>
{% endblock %}
