{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}

<div class="gornji-container">
  <div class="filters">
    <form method="GET" action="">

      <div class="filter">
        <label for="id_grad">Grad:</label>
        <select name="grad" id="id_grad">
          <option value="">-- Sve --</option>
          {% for choice in grad_choices %}
          <option value="{{ choice.0 }}" {% if choice.0 == selected_grad %}selected{% endif %}>{{ choice.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="filter">
        <label for="id_mjesto">Mjesto:</label>
        <select name="mjesto" id="id_mjesto">
          <option value="">-- Sva --</option>
          {% for choice in mjesto_choices %}
          <option value="{{ choice.0 }}" {% if choice.0 == selected_mjesto %}selected{% endif %}>{{ choice.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="filter">
        <label for="id_orjentacija">Orjentacija:</label>
        <select name="orjentacija" id="id_orjentacija">
          <option value="">-- Sva --</option>
          {% for choice in orjentacija_choices %}
          <option value="{{ choice.0 }}" {% if choice.0 == selected_orjentacija %}selected{% endif %}>{{ choice.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="filter">
        <label for="id_vrsta">Vrsta:</label>
        <select name="vrsta" id="id_vrsta">
          <option value="">-- Sve --</option>
          {% for choice in vrsta_choices %}
          <option value="{{ choice.0 }}" {% if choice.0 == selected_vrsta %}selected{% endif %}>{{ choice.1 }}</option>
          {% endfor %}
        </select>
      </div>

      {% if selected_vrsta in "kuca vikendica" %}
      <div class="filter">
        <label for="dvoriste">Dvoriste:</label>
        <input type="checkbox" id="dvoriste" name="dvoriste" {% if request.GET.dvoriste %}checked{% endif %}>
      </div>

      <div class="filter">
        <label for="bazen">Bazen:</label>
        <input type="checkbox" id="bazen" name="bazen" {% if request.GET.bazen %}checked{% endif %}>
      </div>

      <div class="filter">
        <label for="garaza">Garaza:</label>
        <input type="checkbox" id="garaza" name="garaza" {% if request.GET.garaza %}checked{% endif %}>
      </div>
    {% endif %}

    {% if selected_vrsta in "stan garsonjera" %}
    <div class="filter">
      <label for="centralno_grijanje">Centralno grijanje:</label>
      <input type="checkbox" id="centralno_grijanje" name="centralno_grijanje" {% if request.GET.centralno_grijanje %}checked{% endif %}>
    </div>

    <div class="filter">
      <label for="lift">Lift:</label>
      <input type="checkbox" id="lift" name="lift" {% if request.GET.lift %}checked{% endif %}>
    </div>
    {% endif %}

      {% if selected_vrsta == 'poslovni_prostor' %}
      <div class="filter">
        <label for="parking">Parking:</label>
        <input type="checkbox" id="parking" name="parking" {% if request.GET.parking %}checked{% endif %}>
      </div>

      <div class="filter">
        <label for="klima">Klima:</label>
        <input type="checkbox" id="klima" name="klima" {% if request.GET.klima %}checked{% endif %}>
      </div>
      {% endif %}

      <div class="filter">
        <label for="id_status">Status:</label>
        <select name="status" id="id_status">
          <option value="">-- Svi --</option>
          {% for choice in status_choices %}
          <option value="{{ choice.0 }}" {% if choice.0 == selected_status %}selected{% endif %}>{{ choice.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="filter">
        <label for="naziv">Naziv:</label>
        <input type="text" id="naziv" name="naziv" value="{{ request.GET.naziv }}">
      </div>

      <div class="filter">
        <label for="cena_od">Cena (od):</label>
        <input type="number" id="cena_od" name="cena_od" value="{{ request.GET.cena_od }}">
      </div>

      <div class="filter">
        <label for="cena_do">Cena (do):</label>
        <input type="number" id="cena_do" name="cena_do" value="{{ request.GET.cena_do }}">
      </div>

      <div class="filter">
        <label for="povrsina_od">Kvadratura (od):</label>
        <input type="number" id="povrsina_od" name="povrsina_od" value="{{ request.GET.povrsina_od }}">
      </div>

      <div class="filter">
        <label for="povrsina_do">Kvadratura (do):</label>
        <input type="number" id="povrsina_do" name="povrsina_do" value="{{ request.GET.povrsina_do }}">
      </div>

      <button type="submit">Filtriraj</button>
    </form>
  </div>
</div>

<div id="flex-container">
  <div id="empty-space">
    <div id="map"></div>
    <script>
      var map = L.map('map').setView([44.784846, 17.186230], 21);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      var markers = L.markerClusterGroup();

      var nekretnineElements = document.getElementsByClassName('nekretnina')
      {% for nekretnina in nekretnine %}
      {% if nekretnina.latitude and nekretnina.longitude %}
      var marker = L.marker([{{ nekretnina.latitude }}, {{ nekretnina.longitude }}]);
      marker.nekretninaId = '{{ nekretnina.id }}';
      markers.addLayer(marker);

      marker.on('click', function () {
        window.location.href = '{% url 'booking:nekretnina_detail' pk=nekretnina.pk %}';
      });
      {% endif %}
      {% endfor %}

      map.addLayer(markers);

      map.on('zoomend moveend', function () {
        var currentBounds = map.getBounds();
        var visibleNekretnineIds = markers
          .getLayers()
          .filter(function (marker) {
            return currentBounds.contains(marker.getLatLng());
          })
          .map(function (marker) {
            return marker.nekretninaId;
          });

        var southWest = L.latLng(44.706389, 17.035946);
        var northEast = L.latLng(44.844916, 17.347521);
        var bounds = L.latLngBounds(southWest, northEast);
        map.setMaxBounds(bounds);
        map.on('drag', function () {
          map.panInsideBounds(bounds, { animate: false });
        });

        var visibleNekretnineCount = 0;
        var visibleNekretnineElements = [];

        for (var i = 0; i < nekretnineElements.length; i++) {
          var nekretninaElement = nekretnineElements[i];
          var nekretninaId = nekretninaElement.dataset.nekretninaId;
          var nekretninaCoords = L.latLng(parseFloat(nekretninaElement.dataset.latitude), parseFloat(nekretninaElement.dataset.longitude));

          if (visibleNekretnineIds.includes(nekretninaId)) {
            nekretninaElement.style.display = 'block';
            visibleNekretnineCount++;

            if (visibleNekretnineCount <= 4) {
              visibleNekretnineElements.push(nekretninaElement);
            } else {
              nekretninaElement.style.display = 'none';
            }
          } else {
            nekretninaElement.style.display = 'none';
          }
        }

        var moreLinkButton = document.getElementById('more-link');
        var moreLinkNextPage = document.getElementById('more-link-next-page');

        if (visibleNekretnineCount > 4) {
          moreLinkButton.style.display = 'block';
          moreLinkNextPage.style.display = 'block';
        } else {
          moreLinkButton.style.display = 'none';
          moreLinkNextPage.style.display = 'none';
        }

        moreLinkNextPage.addEventListener('click', function(e) {
          e.preventDefault();
          showNextPage(visibleNekretnineElements);
        });
      });

      setTimeout(function () {
        map.invalidateSize();
        map.on('zoomend', function () {
          if (map.getZoom() < 10) {
            map.setZoom(10);
          }
        });
      }, 100);

      function showNextPage(visibleNekretnineElements) {
        var currentPage = document.querySelector('.current-page');
        var nextPage = currentPage.nextElementSibling;

        currentPage.style.display = 'none';
        currentPage.classList.remove('current-page');

        nextPage.style.display = 'grid';
        nextPage.classList.add('current-page');

        var remainingElements = visibleNekretnineElements.slice(4);

        for (var i = 0; i < remainingElements.length; i++) {
          remainingElements[i].style.display = 'block';
        }

        var moreLinkButton = document.getElementById('more-link');
        var moreLinkNextPage = document.getElementById('more-link-next-page');

        if (nextPage.nextElementSibling === null) {
          moreLinkButton.style.display = 'none';
          moreLinkNextPage.style.display = 'none';
        }
      }
    </script>
  </div>

  <div id="stranica">
    <div class="image-grid current-page">
      {% for nekretnina in nekretnine %}
        {% if nekretnina.latitude and nekretnina.longitude %}
          <a href="{% url 'booking:nekretnina_detail' pk=nekretnina.pk %}" class="nekretnina" data-nekretnina-id="{{ nekretnina.id }}" data-latitude="{{ nekretnina.latitude }}" data-longitude="{{ nekretnina.longitude }}" style="text-decoration: none;">
            {% with nekretnina.slike.first as first_image %}
              {% if first_image %}
                {% image first_image width-400 %}
              {% endif %}
            {% endwith %}
            <h2 class="post-title" style="color:black; text-align: center;">{{ nekretnina.naziv }}</h2>
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="image-grid" style="display: none;">
      {% for nekretnina in nekretnine %}
      {% if nekretnina.latitude and nekretnina.longitude %}
      <a href="{% url 'booking:nekretnina_detail' pk=nekretnina.pk %}" class="nekretnina" data-nekretnina-id="{{ nekretnina.id }}" data-latitude="{{ nekretnina.latitude }}" data-longitude="{{ nekretnina.longitude }}" style="text-decoration: none;">
        {% with nekretnina.slike.first as first_image %}
        {% if first_image %}
        {% image first_image width-400 %}
        {% endif %}
        {% endwith %}
        <h2 class="post-title" style="color:black; text-align: center;">{{ nekretnina.naziv }}</h2>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    <div id="more-link" style="text-align: center; display: none;">
      <a href="#" id="more-link-next-page" class="more-link-button">Show more</a>
    </div>
  </div>
</div>

<style>
  #dugme {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-top: 15px;
  }
  #gornji-container {
  }
  #flex-container {
    display: flex;
  }

  #empty-space {
    width: 50%;
    padding: 20px;
    height: 700px;
  }

  #map {
    height: 100%;
  }

  #stranica {
    padding: 5px;
    width: 50%;
    border: solid purple 7px;
  }

  .image-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
  }

  .nekretnina {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 200px; /* Adjust the desired height for the images */
}

.nekretnina img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5px;
}

.more-link-button {
  color: purple;
  font-weight: bold;
  text-decoration: none;
}
</style>
<script>
  var moreLinkNextPage = document.getElementById('more-link-next-page');
  var currentPage = document.querySelector('.current-page');
  var nextPage = currentPage.nextElementSibling;

  moreLinkNextPage.addEventListener('click', function(e) {
    e.preventDefault();
    showNextPage();
  });

  function showNextPage() {
    currentPage.classList.remove('current-page');
    currentPage.style.display = 'none';

    nextPage.style.display = 'grid';
    nextPage.classList.add('current-page');

    currentPage = nextPage;
    nextPage = currentPage.nextElementSibling;

    var moreLinkButton = document.getElementById('more-link');
    var moreLinkNextPage = document.getElementById('more-link-next-page');

    if (nextPage === null) {
      moreLinkButton.style.display = 'none';
      moreLinkNextPage.style.display = 'none';
    }
  }
</script>

{% endblock %}
