{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}
<style>

  #slides {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.pagination-container {
    display: flex;
    margin-bottom: 300px;
    margin-left: 330px;
    width: 100%;
    }

  #broj {
    color:black;
    font-size: 2.7em;
    margin-bottom: 30px;
    font-size: 1.8em;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 4px;
    text-align: center;line-height: 40px;
    text-decoration: none;
    color: #333;
    margin-right: 5px;
  }
  }
  #dugme {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-top: 15px;
  }

  .gornji-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #flex-container {
    display: flex;
    width: 100%;
  }

  #empty-space {
    width: 100%;
    padding: 40px;
    height: 500px;
  }

  #map {
    height: 100%;
    width:500px;
  }

  #container {
    flex: 1;
    padding: 5px;
  }

  .image-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
  }

  .nekretnina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 200px; /* Adjust the desired height for the images */
  }

  .nekretnina img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5px;
  }

  .image-box {
    background-color: green;
    padding: 2px;
    text-align: center;
  }

  .image-box img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
</style>



<div class="container">

<h1>{{ page.title }}</h1>
<div class="gornji-container">

<div class="filters">
  <form method="GET" action="">

    <div class="filter">
      <label for="id_grad">Grad:</label>
      <select name="grad" id="id_grad">
          <option value="">-- Sve --</option>
          {% for choice in grad_choices %}
              <option value="{{ choice.0 }}" {% if choice.0 == selected_grad %}selected{% endif %}>{{ choice.1 }}</option>
          {% endfor %}
      </select>
    </div>


    <div class="filter">
      <label for="id_mjesto">Mjesto:</label>
      <select name="mjesto" id="id_mjesto">
          <option value="">-- Sva --</option>
          {% for choice in mjesto_choices %}
              <option value="{{ choice.0 }}" {% if choice.0 == selected_mjesto %}selected{% endif %}>{{ choice.1 }}</option>
          {% endfor %}
      </select>
    </div>


    <div class="filter">
      <label for="id_orjentacija">Orjentacija:</label>
      <select name="orjentacija" id="id_orjentacija">
          <option value="">-- Sva --</option>
          {% for choice in orjentacija_choices %}
              <option value="{{ choice.0 }}" {% if choice.0 == selected_orjentacija %}selected{% endif %}>{{ choice.1 }}</option>
          {% endfor %}
      </select>
    </div>

    <div class="filter">
      <label for="id_vrsta">Vrsta:</label>
      <select name="vrsta" id="id_vrsta">
          <option value="">-- Sve --</option>
          {% for choice in vrsta_choices %}
              <option value="{{ choice.0 }}" {% if choice.0 == selected_vrsta %}selected{% endif %}>{{ choice.1 }}</option>
          {% endfor %}
      </select>
    </div>

    {% if selected_vrsta == 'kuca' or selected_vrsta == 'vikendica' %}
        <div class="filter">
            <label for="dvoriste">Dvoriste:</label>
            <input type="checkbox" id="dvoriste" name="dvoriste" {% if request.GET.dvoriste %}checked{% endif %}>
        </div>

        <div class="filter">
            <label for="bazen">Bazen:</label>
            <input type="checkbox" id="bazen" name="bazen" {% if request.GET.bazen %}checked{% endif %}>
        </div>

        <div class="filter">
            <label for="garaza">Garaza:</label>
            <input type="checkbox" id="garaza" name="garaza" {% if request.GET.garaza %}checked{% endif %}>
        </div>
    {% endif %}


    {% if selected_vrsta == 'stan' or selected_vrsta == 'garsonjera' %}
        <div class="filter">
            <label for="centralno_grijanje">Centralno grijanje:</label>
            <input type="checkbox" id="centralno_grijanje" name="centralno_grijanje" {% if request.GET.centralno_grijanje %}checked{% endif %}>
        </div>


        <div class="filter">
            <label for="lift">Lift:</label>
            <input type="checkbox" id="lift" name="lift" {% if request.GET.lift %}checked{% endif %}>
        </div>
    {% endif %}

    {% if selected_vrsta == 'poslovni_prostor' %}
        <div class="filter">
            <label for="parking">Parking:</label>
            <input type="checkbox" id="parking" name="parking" {% if request.GET.parking %}checked{% endif %}>
        </div>


        <div class="filter">
            <label for="klima">Klima:</label>
            <input type="checkbox" id="klima" name="klima" {% if request.GET.klima %}checked{% endif %}>
        </div>
    {% endif %}

    <div class="filter">
        <label for="id_status">Status:</label>
        <select name="status" id="id_status">
            <option value="">-- Svi --</option>
            {% for choice in status_choices %}
                <option value="{{ choice.0 }}" {% if choice.0 == selected_status %}selected{% endif %}>{{ choice.1 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="filter">
        <label for="naziv">Naziv:</label>
        <input type="text" id="naziv" name="naziv" value="{{ request.GET.naziv }}">
    </div>

    <div class="filter">
        <label for="cena_od">Cena (od):</label>
        <input type="number" id="cena_od" name="cena_od" value="{{ request.GET.cena_od }}">
    </div>

    <div class="filter">
        <label for="cena_do">Cena (do):</label>
        <input type="number" id="cena_do" name="cena_do" value="{{ request.GET.cena_do }}">
    </div>




    <div class="filter">
        <label for="povrsina_od">Kvadratura (od):</label>
        <input type="number" id="povrsina_od" name="povrsina_od" value="{{ request.GET.povrsina_od }}">
    </div>

    <div class="filter">
        <label for="povrsina_do">Kvadratura (do):</label>
        <input type="number" id="povrsina_do" name="povrsina_do" value="{{ request.GET.povrsina_do }}">
    </div>
    </div>

    <button type="submit">Filtriraj</button>

    </div>

    <div id="flex-container">
  <div id="empty-space">
    <div id="map"></div>
    <script>
      var map = L.map('map').setView([44.784846, 17.186230], 10);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      var markers = L.markerClusterGroup();

      {% for nekretnina in lista %}
        {% if nekretnina.latitude and nekretnina.longitude %}
          var marker = L.marker([{{ nekretnina.latitude }}, {{ nekretnina.longitude }}]);
          marker.nekretninaId = '{{ nekretnina.id }}';
          markers.addLayer(marker);

          marker.on('click', function () {
           window.location.href = '{% url 'booking:nekretnina_detail' pk=nekretnina.pk %}';
         });
        {% endif %}
      {% endfor %}

      map.addLayer(markers);

      var southWest = L.latLng(44.706389, 17.035946);
      var northEast = L.latLng(44.844916, 17.347521);
      var bounds = L.latLngBounds(southWest, northEast);
      map.setMaxBounds(bounds);
      map.on('drag', function () {
        map.panInsideBounds(bounds, { animate: false });
      });

      // Function to save map state to local storage
      function saveMapState() {
        localStorage.setItem('mapCenter', JSON.stringify(map.getCenter()));
        localStorage.setItem('mapZoom', map.getZoom());
      }

      // Function to load map state from local storage
      function loadMapState() {
        var savedCenter = localStorage.getItem('mapCenter');
        var savedZoom = localStorage.getItem('mapZoom');

        if (savedCenter && savedZoom) {
          map.setView(JSON.parse(savedCenter), savedZoom);
        }
      }

      // Attach event listeners to save and load map state
      map.on('moveend', saveMapState);
      map.on('zoomend', saveMapState);
      document.addEventListener('DOMContentLoaded', loadMapState);

      document.addEventListener('DOMContentLoaded', function () {
    initializeMap();

    var nekretninaLinks = document.getElementsByClassName('nekretnina');

    for (var i = 0; i < nekretninaLinks.length; i++) {
      nekretninaLinks[i].addEventListener('click', function (event) {
        event.preventDefault();
        var nekretninaId = event.currentTarget.getAttribute('data-nekretnina-id');

        fetch('/nekretnine/' + nekretninaId + '/')
          .then(response => response.text())
          .then(data => {
            document.getElementById('slides').innerHTML = data;
            updatePagination(); // Update the pagination after loading new content
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
      });
    }
  });


      map.on('zoomend moveend', function () {
        updatePagination();
      });

      function updatePagination() {
        var visibleNekretnineIds = markers.getLayers()
          .filter(function (marker) {
            return map.getBounds().contains(marker.getLatLng());
          })
          .map(function (marker) {
            return marker.nekretninaId;
          });

        var nekretnineElements = document.getElementsByClassName('nekretnina');
        var brojNekretninaPoSlajdu = 115;
        var trenutniSlajd = 0;
        var ukupnoNekretnina = nekretnineElements.length;

        for (var i = 0; i < nekretnineElements.length; i++) {
          var nekretninaElement = nekretnineElements[i];

          if (visibleNekretnineIds.includes(nekretninaElement.getAttribute('data-nekretnina-id'))) {
            nekretninaElement.style.display = 'block';
          } else {
            nekretninaElement.style.display = 'none';
          }
        }

        var numPages = Math.ceil(visibleNekretnineIds.length / brojNekretninaPoSlajdu);
        var paginationContainer = document.querySelector('.pagination-container ul');
        paginationContainer.innerHTML = '';

        for (var page_num = 1; page_num <= numPages; page_num++) {
          var paginationLink = document.createElement('li');
          paginationLink.innerHTML = '<a href="?page=' + page_num + '" id="broj">' + page_num + '</a>';
          paginationContainer.appendChild(paginationLink);
        }
      }

      // Call updatePagination initially to set up pagination
      updatePagination();

      setTimeout(function () {
        map.invalidateSize();
        map.on('zoomend', function () {
          if (map.getZoom() < 10) {
            map.setZoom(10);
          }
        });
      }, 100);

    </script>
  </div>

  <div id="slides">
    {% for nekretnina in paginated_lista %}
     {% if nekretnina.latitude and nekretnina.longitude %}
     <a href="{% url 'booking:nekretnina_detail' pk=nekretnina.pk %}" class="nekretnina" data-nekretnina-id="{{ nekretnina.id }}" data-latitude="{{ nekretnina.latitude }}" data-longitude="{{ nekretnina.longitude }}" style="text-decoration: none; display: none;">
         {% for item in nekretnina.gallery_images.all %}
          {% if forloop.first %}  {# Only show the first image #}
            <div style="float: left; margin: 10px">
              {% image item.image fill-320x240 %}
              <p>{{ item.caption }}</p>
            </div>
          {% endif %}
        {% endfor %}
        <h2 class="post-title" style="color: black; text-align: center;">{{ nekretnina.naziv }}</h2>
      </a>
    {% endif %}
  {% endfor %}
  <br>

</div>

</div>
<div class="pagination-container">
    <ul class="pagination" id="paginacija">
        {% for page_num in paginated_lista.paginator.page_range %}
            {% if paginated_lista.has_previous and page_num == 1 %}
                <li><a href="?page=1" id="broj">1</a></li>
                {% if paginated_lista.number > 3 %}
                    <li><span>......</span></li>
                {% endif %}
            {% endif %}

            {% if page_num >= paginated_lista.number|add:"-1" and page_num <= paginated_lista.number|add:"1" %}
                <li class="{% if page_num == paginated_lista.number %}active{% endif %}">
                    <a href="?page={{ page_num }}" id="broj">{{ page_num }}</a>
                </li>
            {% endif %}

            {% if paginated_lista.paginator.num_pages > paginated_lista.number|add:"2" and page_num == paginated_lista.paginator.num_pages %}
                <li><span>......</span></li>
            {% endif %}

            {% if paginated_lista.has_next and page_num == paginated_lista.paginator.num_pages %}
                <li><a href="?page={{ paginated_lista.paginator.num_pages }}" id="broj">{{ paginated_lista.paginator.num_pages }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>







{% endblock %}
