{% extends "base.html" %}

{% load wagtailcore_tags i18n %}
{% load wagtailimages_tags %}


{% block content %}
<style>

  #slides {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 300px;
  margin-left: 330px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

  #broj {
    color:black;
    font-size: 2.7em;
    margin-bottom: 30px;
    font-size: 1.8em;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 4px;
    text-align: center;line-height: 40px;
    text-decoration: none;
    margin-right: 5px;
  }



  #dugme {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-top: 15px;
  }

  .gornji-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #flex-container {
    display: flex;
    width: 100%;
  }

  #empty-space {
    width: 100%;
    padding: 40px;
    height: 500px;
  }

  #map {
    height: 100%;
    width:500px;
  }

  #container {
    flex: 1;
    padding: 5px;
  }

  .image-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
  }

  .nekretnina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 200px; /* Adjust the desired height for the images */
  }

  .nekretnina img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5px;
  }

  .image-box {
    background-color: green;
    padding: 2px;
    text-align: center;
  }

  .image-box img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }



</style>



<div class="container">

<h1>{{ page.title }}</h1>
<div class="gornji-container">

<div class="filters">
  <form method="GET" action="">

    <div class="filter">
  <label for="id_grad">{% trans "city" %}:</label>
  <select name="grad" id="id_grad">
      <option value="">-- {% trans "All" %} --</option>
      {% for choice in grad_choices %}
          <option value="{{ choice.0 }}" {% if choice.0 == selected_grad %}selected{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
  </select>
</div>


<div class="filter">
  <label for="id_mjesto">{% trans "neigborhood" %}:</label>
  <select name="mjesto" id="id_mjesto">
      <option value="">-- {% trans "All" %} --</option>
      {% for choice in mjesto_choices %}
          <option value="{{ choice.0 }}" {% if choice.0 == selected_mjesto %}selected{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
  </select>
</div>


<div class="filter">
  <label for="id_orjentacija">{% trans "orientation" %}:</label>
  <select name="orjentacija" id="id_orjentacija">
      <option value="">-- {% trans "All" %} --</option>
      {% for choice in orjentacija_choices %}
          <option value="{{ choice.0 }}" {% if choice.0 == selected_orjentacija %}selected{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
  </select>
</div>


<div class="filter">
<label for="id_vrsta">{% trans "Type of realestate" %}:</label>
<select name="vrsta" id="id_vrsta">
  <option value="">-- {% trans "All" %} --</option>
  {% for choice in vrsta_choices %}
      <option value="{{ choice.0 }}" {% if choice.0 == selected_vrsta %}selected{% endif %}>{{ choice.1 }}</option>
  {% endfor %}
</select>
</div>

{% if selected_vrsta == 'kuca' or selected_vrsta == 'vikendica' %}
<div class="filter">
    <label for="dvoriste">{% trans "backyard" %}:</label>
    <input type="checkbox" id="dvoriste" name="dvoriste" {% if request.GET.dvoriste %}checked{% endif %}>
</div>

<div class="filter">
    <label for="bazen">{% trans "pool" %}:</label>
    <input type="checkbox" id="bazen" name="bazen" {% if request.GET.bazen %}checked{% endif %}>
</div>

<div class="filter">
    <label for="garaza">{% trans "garage" %}:</label>
    <input type="checkbox" id="garaza" name="garaza" {% if request.GET.garaza %}checked{% endif %}>
</div>
{% endif %}

{% if selected_vrsta == 'stan' or selected_vrsta == 'garsonjera' %}
<div class="filter">
    <label for="centralno_grijanje">{% trans "central heating" %}:</label>
    <input type="checkbox" id="centralno_grijanje" name="centralno_grijanje" {% if request.GET.centralno_grijanje %}checked{% endif %}>
</div>

<div class="filter">
    <label for="lift">{% trans "elevator" %}:</label>
    <input type="checkbox" id="lift" name="lift" {% if request.GET.lift %}checked{% endif %}>
</div>
{% endif %}

{% if selected_vrsta == 'poslovni_prostor' %}
<div class="filter">
    <label for="parking">{% trans "parking" %}:</label>
    <input type="checkbox" id="parking" name="parking" {% if request.GET.parking %}checked{% endif %}>
</div>

<div class="filter">
    <label for="klima">{% trans "aircondition" %}:</label>
    <input type="checkbox" id="klima" name="klima" {% if request.GET.klima %}checked{% endif %}>
</div>
{% endif %}

<div class="filter">
<label for="id_status">{% trans "status" %}:</label>
<select name="status" id="id_status">
    <option value="">-- {% trans "All" %} --</option>
    {% for choice in status_choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == selected_status %}selected{% endif %}>{{ choice.1 }}</option>
    {% endfor %}
</select>
</div>


<div class="filter">
<label for="naziv">{% trans "name" %}:</label>
<input type="text" id="naziv" name="naziv" value="{{ request.GET.naziv }}">
</div>

<div class="filter">
<label for="cena_od">{% trans "Price (from)" %}:</label>
<input type="number" id="cena_od" name="cena_od" value="{{ request.GET.cena_od }}">
</div>

<div class="filter">
<label for="cena_do">{% trans "Price (to)" %}:</label>
<input type="number" id="cena_do" name="cena_do" value="{{ request.GET.cena_do }}">
</div>

<div class="filter">
<label for="povrsina_od">{% trans "area (from)" %}:</label>
<input type="number" id="povrsina_od" name="povrsina_od" value="{{ request.GET.povrsina_od }}">
</div>

<div class="filter">
<label for="povrsina_do">{% trans "area (to)" %}:</label>
<input type="number" id="povrsina_do" name="povrsina_do" value="{{ request.GET.povrsina_do }}">
</div>
</div>

<button type="submit">{% trans "Filter" %}</button>
    </div>

    <div id="flex-container">
      <div id="empty-space">
        <div id="map"></div>
        <div id="visible-markers-count" style="font-size:1.4em;">{% trans 'number of realestates:' %} <span id="count">0</span></div>
        <script>
          //############# POSTAVLJANJE MAPE ##########################
          var map = L.map('map').setView([44.784846, 17.186230], 10);
          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);

          //############# DODAVANJE MARKERA ##########################
          var markers = L.markerClusterGroup();
          {% for nekretnina in lista %}
              var marker = L.marker([{{ nekretnina.latitude|safe }}, {{ nekretnina.longitude|safe }}]);
              marker.nekretninaId = '{{ nekretnina.pk }}'; 
              markers.addLayer(marker);
              marker.on('click', function () {
                  window.location.href = '{% url 'booking:nekretnina_detail' pk=nekretnina.pk %}';
              });
          {% endfor %}
          map.addLayer(markers);


          //############# GRANICE ##########################
          var southWest = L.latLng(44.706389, 17.035946);
          var northEast = L.latLng(44.844916, 17.347521);
          var bounds = L.latLngBounds(southWest, northEast);
          map.setMaxBounds(bounds);
          map.on('drag', function () {
            map.panInsideBounds(bounds, { animate: false });
          });

          //############# SAVE & LOAD ##########################
          function saveMapState() {
            localStorage.setItem('mapCenter', JSON.stringify(map.getCenter()));
            localStorage.setItem('mapZoom', map.getZoom());
          }

          function loadMapState() {
            var savedCenter = localStorage.getItem('mapCenter');
            var savedZoom = localStorage.getItem('mapZoom');
            if (savedCenter && savedZoom) {
              map.setView(JSON.parse(savedCenter), savedZoom);
            }
          }

          map.on('moveend', saveMapState);
          map.on('zoomend', saveMapState);
//####################### KREIRANJE JS OBJEKATA ######################
var js_objekti = [];
{% for nekretnina in lista %}
    var objekat = {
      nekretninaId: '{{ nekretnina.pk }}',
      naziv: '{{ nekretnina.naziv }}',
      url: '{% url 'booking:nekretnina_detail' pk=nekretnina.pk %}',
      image_url: '{{ nekretnina.gallery_images.first.image_url }}',
    };
    console.log(objekat.latitude)
    js_objekti.push(objekat);
{% endfor %}

 //################# UPDATE PAGINACIJE ###############################
 function updatePaginationAndSlides(visibleNekretnineIds) {

 var numPages = Math.ceil(visibleNekretnineIds.length / 10);
 var paginationContainer = document.querySelector('.pagination-container ul');
 paginationContainer.innerHTML = '';

 for (var page_num = 1; page_num <= numPages; page_num++) {
     var paginationLink = document.createElement('li');
     paginationLink.innerHTML = '<a href="?page=' + page_num + '" id="broj">' + page_num + '</a>';
     paginationContainer.appendChild(paginationLink);
 }

 function getPageNumberFromUrl() {
     const urlParams = new URLSearchParams(window.location.search);
     const pageNumFromUrl = parseInt(urlParams.get('page')) || 1;

     if (pageNumFromUrl > numPages) {
         return 1;
     }

     return pageNumFromUrl;
 }

 var currentPage = getPageNumberFromUrl();
 var startIndex = (currentPage - 1) * 10;
 var endIndex = startIndex + 10;
 var visibleNekretnineOnPage = visibleNekretnineIds.slice(startIndex, endIndex);

 var slidesHTML = visibleNekretnineOnPage.map(function (nekretninaId) {
 var objekat = js_objekti.find(function (obj) {
   return obj.nekretninaId === nekretninaId;
 });

 return '<div>' +
    '<h3><a href="' + objekat.url + '" style="color: black;">' + objekat.naziv + '</a></h3>' +
    '<div style="width: 290px; height: 145px; overflow: hidden;">' +
    '<a href="' + objekat.url + '">' +
    '<img src="' + objekat.image_url + '" style="max-width: 100%; max-height: 100%;">' +
    '</a>' +
    '</div>' +
    '</div>';
});

  document.getElementById('slides').innerHTML = slidesHTML.join('');
}

// ##################   OSTATAK KODA   ####################
document.addEventListener('DOMContentLoaded', loadMapState);

map.on('zoomend moveend', function () {
 var visibleNekretnineIds = markers.getLayers()
     .filter(function (marker) {
         return map.getBounds().contains(marker.getLatLng());
     })
     .map(function (marker) {
         return marker.nekretninaId;
     });

 updatePaginationAndSlides(visibleNekretnineIds);

 var countVisibleMarkers = visibleNekretnineIds.length;

 var countElement = document.getElementById('count');
 countElement.textContent = countVisibleMarkers;
});


setTimeout(function () {
 map.invalidateSize();
 map.on('zoomend', function () {
     if (map.getZoom() < 10) {
         map.setZoom(10);
     }
 });
}, 100);
    </script>
  </div>

  <div id="slides">

</div>
</div>
<div class="pagination-container">
  <ul class="pagination">
        <li><a href="?page=1" id="broj">1</a></li>
  </ul>
</div>

{% endblock %}
