{% extends 'base.html' %}
{% load wagtailcore_tags i18n %}
{% block content %}
<div class="login-container" style="margin-top: 130px;">
  <h2>{% trans "Password reset" %}</h2>
  <form method="post">
    {% csrf_token %}
    <label for="password">{% trans "new password:" %}</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="confirm_password">{% trans "confirm:" %}</label>
    <input type="password" id="confirm_password" name="confirm_password">
    <button type="submit">{% trans "Reset password" %}</button>
  </form>
</div>
<style>
  .login-container {
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }

  .btn:hover {
    background-color: #45a049;
  }

  .error {
    color: red;
  }
</style>
{% endblock %}
