{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>

    <style>
      body {background-color: #8acfab;}
    </style>
    <title>Home</title>
  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'booking:map_list' %}">Nekretnine</a>


        {% if not user.is_authenticated %}
        <a class="nav-link" href="{% url 'booking:korisnik_registracija' %}">Registruj se</a>
        {% endif %}

        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'booking:booking_create' %}">Objavi oglas</a>
        {% if request.user.is_superuser %}
        <a class="nav-link" href="{% url 'booking:korisnik_list' %}">Korisnici</a>
          <a class="nav-link" href="{% url 'booking:agenti_list' %}">Agenti</a>
        {% endif %}
        <a class="nav-link" href="{% url 'booking:agent_registracija' %}">Napravi nalog Agenta</a>
        {% if user.is_authenticated or request.user.is_superuser %}
        <a class="nav-link" href="{% url 'booking:upit' %}">Inbox</a>
        {% endif %}
        <a class="nav-link" href="{% url 'booking:logout' %}">Odjavi se</a>
        <span class="navbar-text ms-auto" style="color: white;">Dobrodošao: {{ user.username }}</span>
        {% else %}
        <a class="nav-link" href="{% url 'booking:prijava' %}">Uloguj se</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
