{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}

    <h1>Korisnik Details</h1>
    <p>Ime: {{ korisnik.ime }}</p>
    <p>Sifra: {{ korisnik.sifra }}</p>
    <p>Email: {{ korisnik.email }}</p>
    <p>Status: {{ korisnik.odobreno }}</p>

    <h2>Inbox</h2>
    <ul>
      {% for poruka in korisnik.inbox.all %}
        <li>
            <p>Poruka od: {{ poruka.ime }}</p>
            <p>Upit za: ({{ poruka.naziv_nekretnine }})</p>
            <p>{{ poruka.poruka }}</p>
            {% if poruka.odgovor %}
                <p>Odgovor agenta: {{ poruka.odgovor }}</p>
            {% endif %}
        </li>
        <br><br>
      {% empty %}
        <li>No messages in the inbox.</li>
      {% endfor %}
    </ul>

    <form action="{% url 'nekretnina:kontakt_forma' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="kontakt_forma_pk" value="{{ poruka.id }}">
        <div class="form-group">
            <label for="odgovor">Odgovor:</label>
            <textarea class="form-control" id="odgovor" name="odgovor" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Pošalji odgovor</button>
    </form>

{% endblock %}
